<div class="container">
  <div class="row">
    <div class="col-xl-12 main-title">
      <h4>Design your t-shirt</h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xl-3">
      <div class="card">
        <div class="card-header">Add text</div>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="textString">
            <div class="input-group-append">
                            <span class="input-group-text">
                                <button id="add-text" data-toggle="tooltip" data-placement="bottom" title="Add text" class="btn btn-primary" (click)="addText()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </span>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="card">
        <div class="card-header">Upload image</div>
        <div class="card-body text-center">
          <img id="testImage" *ngIf="url" class="images-item-upload" [src]="url" (click)="addImageOnCanvas(url);">
          <input type="file" (change)="readUrl($event);">
            <br/>
          <br/>
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeWhite(url);">
                <i class="fa fa-times" aria-hidden="true"></i> Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <canvas id="canvas">

      </canvas>
    </div>
    <div class="col-xl-3">
      <div class="card">
        <div class="card-header">Options</div>
        <div class="card-body text-center">
          <div class="btn-group" role="group" aria-label="...">
            <button data-toggle="tooltip" data-placement="bottom" title="Delete element" type="button" class="btn btn-outline-danger" [disabled]="!selected"
                    (click)="removeSelected();">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>

            <button data-toggle="tooltip" data-placement="bottom" title="Send to back" type="button" class="btn btn-outline-primary" [disabled]="!selected"
                    (click)="sendToBack();">
              <i class="fa fa-level-down" aria-hidden="true"></i>
            </button>
            <button data-toggle="tooltip" data-placement="bottom" title="Send to front" type="button" class="btn btn-outline-primary" [disabled]="!selected"
                    (click)="bringToFront();">
              <i class="fa fa-level-up" aria-hidden="true"></i>
            </button>
            <button data-toggle="tooltip" data-placement="bottom" title="Clone" type="button" class="btn btn-outline-primary" [disabled]="!selected || selected.type == 'group'"
                    (click)="clone();">
              <i class="fa fa-clone" aria-hidden="true"></i>
            </button>


          </div>
        </div>
        <div class="card-body text-center">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="fileName"  placeholder="Download">
            <div class="input-group-append">
                            <span class="input-group-text">
                                <button id="design_name" data-toggle="tooltip" data-placement="bottom" title="Add text" class="btn btn-primary" (click)="download()">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                </button>
                            </span>
            </div>
          </div>
          <br>
          <br>
          <button data-toggle="tooltip" data-placement="bottom" title="Save in localStorage" type="button" class="btn btn-primary"
                  (click)="saveCanvasToJSON();">
            Save Selection
          </button>
          <br>
          <br>
          <button data-toggle="tooltip" data-placement="bottom" title="Load from localStorage" type="button" class="btn btn-primary"
                  (click)="loadCanvasFromJSON();">
            Last Selection
          </button>
          <br>
          <br>
          <button data-toggle="tooltip" data-placement="bottom" title="Clean Canvas" type="button" class="btn btn-danger" (click)="confirmClear();">
            Reset Canvas
          </button>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
