.container{
  float: right;
  background-color: white;
  width: 300px;
  border-style: solid;
  border-color: black;
  padding: 25px;
  margin: 25px;
  position: relative;

}
.rightClass{
  float: left;
}
