<div>
  <div class="mapView">
  <agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-circle [latitude]="lat + 0.3" [longitude]="lng"
              [radius]="5000"
              [fillColor]="'red'"
              [circleDraggable]="true"
              [editable]="true">
  </agm-circle>
   </agm-map>

  </div>
  <div class="InfoWindow">
    <div class="clickedInfo">
      <p>Please click anywhere on the map to get infomation about weather and time zone</p>
      <p>Temperature in celsius : {{temperature}}</p>
      <p>Climate : {{weather}}</p>
      <p>Standard Time Zone :{{standardTimeZone}}</p>
      <p>In Your Time Zone :{{localTimeZone}}</p>
    </div>
  </div>

</div>
