agm-map {
  height: 700px;
}


* {
  font-family: Lato;
}

a {
  color: darkblue;
}

.InfoWindow{
  height: 180px;
  border-color: black;
  border-style: dashed;
}
.mapView{
  height: 70%;
}
.clickedInfo{
  padding-left: 10px;
}
